<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <title>Add Appliance</title>
    <style>
        /* Add custom styles here */
        .form-box {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
            margin: 20px auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 500px;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        .form-control {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 6px 8px;
            margin: 4px 0;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .bth {
            background-color: #049;
            color: white;
            border: none;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            transition-duration: 0.5s;
            border-radius: 4px;
            cursor: pointer;
            margin: 4px;
        }

        .bth:hover {
            background-color: #036;
        }

        table {
            border-collapse: collapse;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        th, td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        p {
            color: red;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="index.html">HOME</a>
        <a href="/usage_summary">Device usage summary</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<center>
    <p>Add your appliance here using this form.</p>
</center>

<div class="form-box">
    <form method="POST" class="form-container">
        <label for="devname">Name of the appliance:</label>
        <input type="text" id="devname" name="devname" class="form-control" placeholder="eg: lamp">
        <label for="pinname">Pin number on Arduino and GPIO:</label>
        <input type="text" id="pinname" name="pinname" class="form-control" placeholder="eg: 13">
        <div>
            <input type="radio" id="addDev" name="choice" value="add" checked>
            <label for="addDev">Add</label>
            <input type="radio" id="removeDev" name="choice" value="remove">
            <label for="removeDev">Remove</label>
        </div>
        <div class="btn-container">
            <button type="submit" class="bth" value="Submit">Submit</button>
        </div>
    </form>
</div>

<table>
    <thead align="center">
    <tr class="table-primary-dark">
        <th scope="col">Device name</th>
    </tr>
    </thead>
    <tbody align="center">
    {% for i in x %}
    <tr>
        <td>{{i}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>{{ error }}</p>
</body>
</html>
