<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='Favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body, body * {
            background-color: white;
            font-family: "Montserrat", "Red Hat Display", "Noto Sans", Roboto, sans-serif;
            padding: 0;
            margin: 0;
        }

        #container {
            width: auto;
            margin: 0px;
            padding: 0 32px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            opacity: 0;
            max-height: 0px;
            height: 0px !important;
            position: absolute;
            background-color: #222;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            transition-duration: 0.5s;
            transform: rotate3d(1, 0, 0, 90deg);
        }

        .navbar-link {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition-duration: 0.5s;
            border-left: 4px solid #222;
            background-color: #222;
        }

        .navbar-link:hover {
            background-color: #049;
            border-left: 4px solid #ccc;
        }

        .dropdown:hover .dropdown-content {
            opacity: 1;
            max-height: auto;
            height: auto !important;
            background-color: #222;
            transform: none;
        }

        .dropdown:hover .dropbtn {
            background-color: #444;
            border: none;
            border-bottom: 4px solid #ccc;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #222;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        #banner {
            background-color: #222;
            padding: 20px;
            color: white;
            text-align: center;
        }

        p {
            margin: 10px 0;
        }

    </style>
</head>
<body>
<div id="topbar">
</div>
<div id="container">
    <div id="header">
        <div class="dropdown">
            <button class="dropbtn navbar-link">Menu</button>
            <div class="dropdown-content">
                <a href="/plot_graph" class="navbar-link">Device usage summary</a>
                <a href="/settings" class="navbar-link">Settings</a>
                <a href="/logout" class="navbar-link">Logout</a>
            </div>
        </div>
    </div>
 <center>
        <p>Welcome {{ session["username"] }}!</p>
    </center>
    <center><p>All the connected appliances are listed in the table.</p></center>
    <table>
        <thead>
        <tr>
            <th>Device id</th>
            <th>Device name</th>
            <th>Last used</th>
            <th>Status</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for i in x %}
        <tr>
            {% for j in i %}
            <td>{{ j }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
