<!DOCTYPE html>
<html>
<head>
    <title>HOME AUTOMATION</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='Favicon.png') }}">
    <style>
        body {
            background-color: #f4f4f4;
            font-family: "Montserrat", "Red Hat Display", "Noto Sans", Roboto, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        #container {
            width: 100%;
            max-width: 400px;
            text-align: center;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .banner {
            background-color: #049;
            color: white;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        .form-box {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .input-group {
            margin-bottom: 15px;
            text-align: left;
        }

        .input-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            width: 94%;
            border: 1px solid #ccc;

            padding: 4px;
            padding-right: 0px;
        }

        .btn-container {
            text-align: center;
            margin-top: 15px;
        }

        .btn {
            background-color: #049;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            transition-duration: 0.5s;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #036;
        }

        p.error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div id="container">
    <div class="banner banner-info">
        Welcome, Please Login!
    </div>

    <div class="form-box">
        <form method="post" action="">
            <div class="input-group">
                <label for="Inputusername1">Username</label>
                <input type="text" class="form-control" id="Inputusername1" placeholder="Enter your username" name="username">
            </div>
            <div class="input-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" name="password">
            </div>
            <div class="btn-container">
                <button type="submit" class="btn">Submit</button>
            </div>
            <p class="error-message">{{ error }}</p>
        </form>
    </div>
</div>
</body>
</html>
